.square:before{
    content: "";
    display: block;
    padding-top: 100%; 
}

#title1{
    color:#31e981;
    font-weight: bold;
}

#title2{
    color:#002A32;
    font-weight: 500;
}

#title3{
    color:#e2000f;
    font-weight: bolder;
}

body{
    background-color: #FEFAE0;
}


@media (min-width:480px) { 
    #canvas{
        width: 95vw;
    }
}

@media (min-width:801px)  { 
    #canvas{
        width: 80vw;
    } 
}

@media (min-width:1281px) { 
    #canvas{
        width: 45vw;
    }
}