.square:before{
    content: "";
    display: block;
    padding-top: 100%; 
}

#canvas{
    width: 45vw;
}

#title1{
    color:#31e981;
    font-weight: bold;
}

#title2{
    color:#002A32;
    font-weight: 500;
}

#title3{
    color:#e2000f;
    font-weight: bolder;
}

body{
    background-color: #FEFAE0;
}
